/* Change the background of the entire visible page */
body {
    background-color: #000000 /* black */
}

/* Style for all paragraphs */
p {
    color: white;
    font-size: 16px;
    font-family: 'Playfair', serif;
}

h2 {
    color: white;
    font-size: 32px;
    font-family: 'Playfair', serif;
}    

h1 {
    color: white;
    font-size: 44px;
    font-family: 'Playfair', serif;
}    


/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid red; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
